{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
			<table class="table table-striped">
			  <tbody>
				<tr>
					<td>Autorizador</td>
					<td>{{ data['Autorizador'] }}</td>
				</tr>
				<tr>
					<td>Status</td>
					<td>{{ data['Status'] }}</td>
				</tr>
				<tr>
					<td>Maior</td>
					<td>{{ data['Maior'] }}</td>
				</tr>
				<tr>
					<td>Menor</td>
					<td>{{ data['Menor'] }}</td>
				</tr>
				<tr>
					<td>Médio</td>
					<td>{{ data['Media'] }}</td>
				</tr>
			  </tbody>
			</table>
			<div class="pull-right">
				<a class="btn btn-danger" type=submit href="{{ url_for('index') }}">Voltar</a>
			</div>
        </div>
    </div>
{%- endblock %}